@model IEnumerable<ReservaDeMesasMVC_.Models.Cliente>

@{
    ViewData["Title"] = "Clientes";
}



<h1>Clientes</h1>

<p>
    <a asp-action="CadastrarOuAlterar" class="btn btn-success btn-lg">Novo Cliente</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.telefone)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.telefone)
            </td>
            <td>
                 <a href="@Url.Action("CadastrarOuAlterar","Cliente", new {id = item.id})" class="btn btn-info">
                    <i class="fa fa-pencil" data-toggle="tooltip" title="Editar"></i>
                    Alterar
                </a>

                <a onclick="Delete(@item.id)" class="btn btn-danger"><i class="fa fa-trash" data-toggle="tooltip" title="Excluir"></i>Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>

@section scripts{
    <script>
        $(function(){
            var successMessage = "@TempData["SuccessMessage"]";
            if (successMessage!= '')
                alertify.success(successMessage)
        });

        function Delete(id){            
            alertify.confirm('Cliente', 'Deseja excluir o registro?', 
            function(){ 
                window.location.href = '@Url.Action("Excluir","Cliente")/'+id; 
            }
                , function(){ alertify.error('Cancelado')});
        }
    </script>
}